/**
 * Derivative of Material - Design- Lite
 * Copyright 2015 Google Inc. All Rights Reserved.
 */
/*
  Jesse Harlin 2015
*/

/* CHECKBOX */
$checkbox-label-font-size = 16px
$checkbox-label-height = 24px
$checkbox-button-size = 16px
$checkbox-inner-margin = 2px
$checkbox-padding = 8px
$checkbox-top-offset = ($checkbox-label-height - $checkbox-button-size - $checkbox-inner-margin) / 2
$checkbox-ripple-size = $checkbox-label-height * 1.5
